langchain
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
chromadb
python-dotenv
beautifulsoup4
requests
streamlit
faiss-cpu
pypdf
pdfplumber
google-genai
langchain-google-genai
langchain-text-splitters
langchain-chroma
pysqlite3-binary