langchain
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
python-dotenv
beautifulsoup4
requests
streamlit
pypdf
sentence-transformers
fastapi
uvicorn
python-multipart
sqlalchemy
langchain-classic
pymysql
cryptography
pysqlite3-binary; sys_platform == 'linux'